body {
    background-image: url(../assets/weatherAppBG.png);
    background-size: cover;
}

.locationColor {
    color: #C30000;
    font-family: pixelify-sans;
}

.locationGrid{
    display: grid;
    grid-template-rows: 1 / 1;
    grid-column: 1 / 3;
}

@font-face {
    font-family: pixelify-sans;
    src: url(../assets/PixelifySans-VariableFont_wght.ttf);
}