body {
    background-image: url(../assets/weatherAppBG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.locationColor {
    color: #C30000;
    font-family: pixelify-sans;
    font-size: 34px;
}

.locationColor2 {
    color: #C30000;
    font-family: pixelify-sans;
    font-size: 34px;
    text-align: center;
}

.locationColor3 {
    color: #C30000;
    font-family: pixelify-sans;
    font-size: 34px;
    text-align: center;
}

.forcastColor {
    color: #0BF33D;
    font-family: pixelify-sans;
    font-size: 30px;
    text-align: center;
}

.upcomingColor {
    color: #0BF33D;
    font-family: pixelify-sans;
    font-size: 30px;
    text-align: center;
}

.favoritesColor {
    color: #C30000;
    font-family: pixelify-sans;
    font-size: 26px;
}

.tempColor{
    color: white;
    font-size: 50px;
    text-align: center;
}

.tempColor2{
    color: white;
    font-size: 40px;
}

.monColor{
    color: white;
    font-size: 40px;
    text-align: center;
}

.monColor2{
    color: white;
    font-size: 20px;
    text-align: center;
}

.locationFlex{
    display: flex;
    align-items: start;
    margin-top: 60px;
}

.navbarBG{
    background-color: #FFFFFF5C;
    opacity: 100%;
}

.locationMargin{
    margin-right: 130px;
    margin-left: 130px;
}

.locationMargin2{
    margin-right: 90px;
    margin-left: 90px;
}

.locationMargin3{
    margin-right: 110px;
    margin-left: 110px;
}

.forcastBG{
    background-color: #D9D9D942;
    padding: 50px;
    width: auto;
    margin-bottom: 250px;
    border-radius: 20px;
}

.upcomingBG{
    background-color: #D9D9D942;
    border-radius: 20px;
    width: auto;
}

.columnSpace{
    padding: 50px;
    margin-bottom: 250px;
    margin-left: 150px;
}

.daysBG{
    background-color: #41447470;
    border-radius: 10px;
}

.sunBG{
    background-color: #41447470;
    width: 360px;
    border-radius: 10px;
}

.tempBG{
    background-color: #41447470;
}

.redSize{
    width: 38px;
    height: 48px;
}

.blueSize{
    width: 38px;
    height: 48px;
}

.favoritesSize{
    width: 30px;
    height: 30px;
}

/* centered icon for TODAY */
.todayIcon{
  width: 130px;
  display: block;
  margin: 0 auto;
}

/* centered icon for EACH DAY card */
.dayIcon{
  width: 85px;
  display: block;
  margin: 8px auto;
}

/* make sure the card stacks items vertically */
.daysBG{
  text-align: center;
  width: 99px;  
}

@font-face {
    font-family: pixelify-sans;
    src: url(../assets/PixelifySans-VariableFont_wght.ttf);
}